<table style="font: 14px Helvetica, Arial, sans-serif; background: #fff;">
    <tr>
        <td>
            <a data-val="image"></a>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <strong data-val="name"></strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span data-val="career"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>skype:</strong>
                        <span data-val="skype"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span data-val="phone"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span data-val="mobile"></span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>