<div style="font: 12px Helvetica, Arial, sans-serif; background: #fff; color: #555;">
    <span data-val="name" style="font-size: 16px;"></span>
    <img src="http://ivanbanov.github.io/signature-generator/templates/bankfacil/logo.png" alt="Logo BankFacil" style="padding: 5px 20px; margin-left: 20px; border-left: 1px solid #aaa; vertical-align: middle;"/>

    <br /><br />
    <strong data-val="career"></strong><br />
    <span>(11) 3522-8009 - ramal </span><span data-val="ramal"></span><br />
    <span>Av. Eng. Luis Carlos Berrini, 105, 11º andar, Ed. Thera Corporate</span><br />
    <a href="http://www.facebook.com/Bankfacil" target="_blank">www.facebook.com/BankFacil</a><br />
    <a href="http://www.bankfacil.com.br" target="_blank">www.BankFacil.com.br</a><br />
</div>