.field {
    & + .field { margin-top: 5px; }
    small {
        color: @gray;
        float: right;
        margin-top: 2px;
    }
}
.field-label {
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
    width: 75px;
    display: inline-block;
}
.field-item {
    background: @white;
    height: 30px;
    padding: 5px;
    border: 1px solid @lightGray;
    border-radius: 3px;
}